<!DOCTYPE html>
<html lang=en>
    <head>
        <title>InjetTV - Performance Máquinas</title>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel=stylesheet href=/assets/css/materialize.min.css />
        <link rel=stylesheet href=/styles/css/maquinas.css />
        <link rel="ico" href="/public/images/injettv_ico.ico">
        <style>
        img {
            position: absolute;
            right: 0;
            top: 0;
            margin: 25px 25px 0 0;
        }
    </style>
        <script>
            let slideTransition = '<%=slideTransition%>';
            let nextPage = '<%=nextPage%>';
        </script>
    </head>
    <body>
        <img src="<%=logo%>" alt=logo width=150 height=150>
        <main>
            <div class=row-g>
                <div class=row>
                   <button onclick="legendaAtivo(event)" class="light-blue darken-2 right btn waves-effect waves-light" name="cc" id="cc"> 
                            CC
                        </button>
                    <div class="col s1">  
                        
                        <button class="light-blue darken-2 right btn waves-effect waves-light"id=clear>
                            <i class="material-icons">clear</i>                                
                            <i class="material-icons">home</i>
                        </button>
                        <div >
                            <img src="public/images/subtitle.png" alt="">                 
                        </div>                       
                    </div>
                </div>
                <h1 align="center">Performance Máquinas</h1>
                <div class=container id="container">
                    <% if(x == 1){ %>
                        <div class="legends">
                        <div id="legenda-box">
                            <h6><b>Cor da 1° Coluna</b></h6>
                            <% colors1.forEach((cor1)=>{  %>
                                <div class="color-conteiner"> 
                                    <div class="cor-p" style="background-color: <%= cor1.color  %> ;"></div>
                                    <p><%= cor1.nome %></p>
                                </div>
    
                            <% }); %>
                        </div>
                        <div id="legenda-box">
                            <h6><b>Cor da 2° Coluna</b></h6>
                            <% colors2.forEach((cor2)=>{  %>
                                <div class="color-conteiner"> 
                                    <div class="cor-p1" style="background-color: <%= cor2.color  %> ; border-bottom: 20px solid <%= cor2.color  %>"></div>
                                    <p><%= cor2.nome %></p>
                                </div>
    
                            <% }); %>
                        </div>
                        
                    </div>
                    <% } %>
                    
                    <div class="col l12">
                        <table>
                            
                            <tr>
                                <th>1ª Coluna</th>
                                <th>2ª Coluna</th>
                                <th>Máquina</th>
                                <th>Descrição do Produto</th>
                                <th>OEE</th>
                            </tr>
                            <% pts.forEach((pt) => { %>
                            <tr class="teste" id="circle1">
                                <td><div class="quadrado-icons" style='background-color: <%= pt.icone.caminhoIcone %>'></div></td>
                                <td><div class="quadrado-icons" style='background-color: <%= pt.icone.corTriangulo %>'></div></td>
                                <td style="color: <%= pt.icone.caminhoIcone %>"><%= pt.cdPt %></td>
                                <td style="color: <%= pt.icone.caminhoIcone %>"><%= pt.dsProduto %></td>
                                <td style="color: <%= pt.icone.caminhoIcone %>"><%= pt.indicadores.indiceProdutividadeOEE %>%</td>
                            </tr>
                            <% }) %>

                            </th>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <h3 id="updateMachine">Última atualização: <%=ultimaAtualizacao%></h3>
        <script src=/assets/jquery.min.js></script>
        <script src=/scripts/carousel.js></script>
        <script src=/scripts/clear.js></script>
        <script src=/scripts/theme.js></script>
        <script src=/scripts/legends.js></script>
    </body>
</html>